In [114]:
import pandas as pd
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
# Create a dictionary with the data
data = {
    'Sepal length': [6.3, 5.1, 5.7, 5.0, 4.8, 6.6, 6.3, 6.3, 6.0, 4.7, 5.0, 6.1, 6.8, 4.5, 7.7],
    'Sepal width': [2.9, 3.4, 2.5, 3.5, 3.4, 2.9, 3.3, 3.4, 3.4, 3.2, 3.3, 2.9, 3.2, 2.3, 3.0],
    'Class': ['virginica', 'setosa', 'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor', 'versicolor', '???', '???', '???', '???', '???', '???']
}

# Create a DataFrame
df = pd.DataFrame(data)
n = len(df)
print(df)

    Sepal length  Sepal width       Class
0            6.3          2.9   virginica
1            5.1          3.4      setosa
2            5.7          2.5   virginica
3            5.0          3.5      setosa
4            4.8          3.4      setosa
5            6.6          2.9  versicolor
6            6.3          3.3  versicolor
7            6.3          3.4  versicolor
8            6.0          3.4  versicolor
9            4.7          3.2         ???
10           5.0          3.3         ???
11           6.1          2.9         ???
12           6.8          3.2         ???
13           4.5          2.3         ???
14           7.7          3.0         ???

In [102]:
mu_l = df['Sepal length'].mean()
mu_l

5.793333333333333

In [64]:
df['Sepal length'].var()

0.8435238095238095

In [108]:
ssd_l = ((df['Sepal length'] - mu_l) ** 2).sum()

In [109]:
np.sqrt(ssd_l/n)

0.8872930118562238

In [24]:
std_l = df['Sepal length'].std(ddof=0)
std_l

0.8872930118562238

In [25]:
np.sqrt(((df['Sepal length'] - mu_l) ** 2).sum())/np.sqrt(n)

0.8872930118562238

In [104]:
mu_w = df['Sepal width'].mean()
mu_w

3.1066666666666665

In [21]:
std_w = df['Sepal width'].std(ddof=0)
std_w

0.3414999593297519

In [112]:
ssd_w = ((df['Sepal width'] - mu_w) ** 2).sum()
ssd_w

1.7493333333333332

In [113]:
np.sqrt(ssd_w/n)

0.3414999593297519

In [22]:
np.sqrt(((df['Sepal width'] - mu_w) ** 2).sum())/np.sqrt(n)

0.3414999593297519

In [26]:
df2 = df.copy()

In [28]:
df2['Sepal length'] = (df2['Sepal length'] - mu_l) / std_l

In [27]:
df2['Sepal width'] = (df2['Sepal width'] - mu_w) / std_w

In [163]:
df2

    Sepal length  Sepal width       Class
0       0.571025    -0.605173   virginica
1      -0.781403     0.858956      setosa
2      -0.105189    -1.776477   virginica
3      -0.894105     1.151781      setosa
4      -1.119510     0.858956      setosa
5       0.909132    -0.605173  versicolor
6       0.571025     0.566130  versicolor
7       0.571025     0.858956  versicolor
8       0.232918     0.858956  versicolor
9      -1.232212     0.273304         ???
10     -0.894105     0.566130         ???
11      0.345621    -0.605173         ???
12      1.134537     0.273304         ???
13     -1.457617    -2.362128         ???
14      2.148858    -0.312348         ???

In [94]:
train  = df2[:9]

In [126]:
test = df2[9:]
test

    Sepal length  Sepal width Class
9      -1.232212     0.273304   ???
10     -0.894105     0.566130   ???
11      0.345621    -0.605173   ???
12      1.134537     0.273304   ???
13     -1.457617    -2.362128   ???
14      2.148858    -0.312348   ???

In [183]:
def knn(train,test,k=3):
    classes = []
    final=[]
    dists=[]
    for index,row in test.iterrows():
        test_vec = row.values
        dist = []
        cls = []
        for i,r in train.iterrows():
            train_vec = r.values
            dist.append(round(np.linalg.norm(train_vec[:2] - test_vec[:2]),3))
            cls.append(train_vec[2])
        zipped = sorted(zip(dist,cls))[:3]
        dists.append(dist)
        final.append(zipped)
        classes.append(Counter([x[1] for x in zipped]).most_common()[0][0])
    
    return pd.DataFrame(final), pd.DataFrame(classes),  pd.DataFrame(dists)

In [184]:
final, classes, dists = knn(train, test)
print(dists)
df = test.copy()
df = df.reset_index(drop=True)
df = df.drop('Class', axis=1)
result = pd.concat([final, classes],axis=1)
print(result)

       0      1      2      3      4      5      6      7      8
0  2.006  0.739  2.339  0.941  0.596  2.315  1.827  1.896  1.578
1  1.876  0.314  2.472  0.586  0.370  2.150  1.465  1.494  1.164
2  0.225  1.848  1.255  2.150  2.071  0.564  1.193  1.481  1.468
3  1.044  2.003  2.396  2.211  2.329  0.907  0.635  0.813  1.075
4  2.684  3.291  1.474  3.559  3.239  2.948  3.562  3.807  3.638
5  1.605  3.156  2.688  3.377  3.472  1.274  1.806  1.965  2.246
                     0                    1                    2           0
0      (0.596, setosa)      (0.739, setosa)      (0.941, setosa)      setosa
1      (0.314, setosa)       (0.37, setosa)      (0.586, setosa)      setosa
2   (0.225, virginica)  (0.564, versicolor)  (1.193, versicolor)  versicolor
3  (0.635, versicolor)  (0.813, versicolor)  (0.907, versicolor)  versicolor
4   (1.474, virginica)   (2.684, virginica)  (2.948, versicolor)   virginica
5  (1.274, versicolor)   (1.605, virginica)  (1.806, versicolor)  versicolor

In [177]:
print(pd.DataFrame(classes))

            0
0      setosa
1      setosa
2  versicolor
3  versicolor
4   virginica
5  versicolor

In [ ]:
import numpy as np
round(0.01 ** 0.002,4)