In [3]:
import pandas as pd
from io import StringIO

data = """Average miles driven per day\tAverage annual maintenance cost (£)
67\t12,000
90\t12,700
94\t14,000
-99\t14,400
108\t14,600
129\t17,700
141\t17,600
167\t18,500
214\t22,000
267\t22,300
289\t24,300
305\t24,200
620\t25,100
3,100\t25,400
"""

# Replace the commas in numbers and use StringIO to create a file-like object
data = data.replace(",", "")
data_file = StringIO(data)

# Read the data into a DataFrame
df = pd.read_csv(data_file, delimiter='\t')

# Display the DataFrame
print(df)

    Average miles driven per day  Average annual maintenance cost (£)
0                             67                                12000
1                             90                                12700
2                             94                                14000
3                            -99                                14400
4                            108                                14600
5                            129                                17700
6                            141                                17600
7                            167                                18500
8                            214                                22000
9                            267                                22300
10                           289                                24300
11                           305                                24200
12                           620                                25100
13                          3100                                25400

In [4]:
df.describe()

       Average miles driven per day  Average annual maintenance cost (£)
count                     14.000000                            14.000000
mean                     392.285714                         18914.285714
std                      796.187978                          4892.672251
min                      -99.000000                         12000.000000
25%                       97.500000                         14450.000000
50%                      154.000000                         18100.000000
75%                      283.500000                         23725.000000
max                     3100.000000                         25400.000000

In [5]:
df.quantile([0.25,0.5,0.75])

      Average miles driven per day  Average annual maintenance cost (£)
0.25                          97.5                              14450.0
0.50                         154.0                              18100.0
0.75                         283.5                              23725.0

In [13]:
df2 = df.drop([3,13,12])

In [14]:
df2

    Average miles driven per day  Average annual maintenance cost (£)
0                             67                                12000
1                             90                                12700
2                             94                                14000
4                            108                                14600
5                            129                                17700
6                            141                                17600
7                            167                                18500
8                            214                                22000
9                            267                                22300
10                           289                                24300
11                           305                                24200

In [15]:
df2.describe()

       Average miles driven per day  Average annual maintenance cost (£)
count                     11.000000                            11.000000
mean                     170.090909                         18172.727273
std                       85.376173                          4521.524280
min                       67.000000                         12000.000000
25%                      101.000000                         14300.000000
50%                      141.000000                         17700.000000
75%                      240.500000                         22150.000000
max                      305.000000                         24300.000000

In [16]:
df2.corr()

,Average miles driven per day,Average annual maintenance cost (£)
Average miles driven per day,1.000000,0.973713
Average annual maintenance cost (£),0.973713,1.000000

In [21]:
def av_cost(miles):
    return 51.6 * miles + 9401.5

# Given data
total_trucks = 1795
local_trucks = 510
regional_trucks = 650
national_trucks = 635

# Calculate the total number of miles driven per day for each category
miles_per_day_local = av_cost(42)
miles_per_day_regional = av_cost(189)
miles_per_day_national = av_cost(294)

# Calculate the total miles driven by each category
total_miles_local = miles_per_day_local * local_trucks
total_miles_regional = miles_per_day_regional * regional_trucks
total_miles_national = miles_per_day_national * national_trucks

# Calculate the total number of miles driven by the fleet in Fiscal Year 2020
total_miles_fy2020 = total_miles_local + total_miles_regional + total_miles_national

print("Total Miles Driven in Fiscal Year 2020:", total_miles_fy2020, "miles")

Total Miles Driven in Fiscal Year 2020: 33953228.5 miles

In [19]:
51.6 * total_miles_fy2020 + 9401.5

17086937.5

In [22]:
import pandas as pd

data = {
    "Preventative maintenance type": ["Annual tyre replacement", "Annual glass replacement", "Engine oil and filter replacement twice a year", "Battery terminal cleaning three times a year", "Transmission check once a year"],
    "Cost of preventative maintenance per truck": ["£600", "£350", "£120", "£30", "£80"],
    "Projected repair cost per truck if a breakdown occurs": ["£1,200", "£370", "£750", "£200", "£2,500"],
    "Probability of one breakdown in a fiscal year if no preventative maintenance is performed": ["35%", "20%", "12%", "6%", "7%"]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

                    Preventative maintenance type  \
0                         Annual tyre replacement
1                        Annual glass replacement
2  Engine oil and filter replacement twice a year
3    Battery terminal cleaning three times a year
4                  Transmission check once a year

  Cost of preventative maintenance per truck  \
0                                       £600
1                                       £350
2                                       £120
3                                        £30
4                                        £80

  Projected repair cost per truck if a breakdown occurs  \
0                                             £1,200
1                                               £370
2                                               £750
3                                               £200
4                                             £2,500

  Probability of one breakdown in a fiscal year if no preventative maintenance is performed
0                                                35%
1                                                20%
2                                                12%
3                                                 6%
4                                                 7%

In [23]:
df

,Preventative maintenance type,Cost of preventative maintenance per truck,Projected repair cost per truck if a breakdown occurs,Probability of one breakdown in a fiscal year if no preventative maintenance is performed
0,Annual tyre replacement,£600,"£1,200",35%
1,Annual glass replacement,£350,£370,20%
2,Engine oil and filter replacement twice a year,£120,£750,12%
3,Battery terminal cleaning three times a year,£30,£200,6%
4,Transmission check once a year,£80,"£2,500",7%

In [24]:
df2 = pd.DataFrame([2, 5, 12, 16, 20, 4, 6, 11, 14, 18, 12, 12, 56])

In [25]:
df2.mean(), df2.median()

(0    14.461538
 dtype: float64,
 0    12.0
 dtype: float64)

In [26]:
df2 = pd.DataFrame([2, 5, 12, 16, 20, 4, 6, 11, 14, 18, 12, 12])
df2.mean(), df2.median()

(0    11.0
 dtype: float64,
 0    12.0
 dtype: float64)

In [28]:
df2 = pd.DataFrame([10, 20, 10, 20, 12, 14, 15, 20])

In [29]:
df2.mean()

0    15.125
dtype: float64

In [32]:
import numpy as np
X =  np.array([6, 5, 11, 7, 5, 4, 4])

Y =  np.array([2, 3, 9, 1, 8, 7, 5])

In [35]:
X = np.array([43, 21, 25, 42, 57, 59, 247])

Y = np.array([99, 65, 79, 75, 87, 81, 486])

In [53]:
X =  np.array([0, 1, 2, 3, 4, 5, 6])
Y =  np.array([0, 55, 120, 188, 252, 307, 366])

In [54]:
a = np.sum(np.dot(X - np.mean(X), Y - np.mean(Y)))/np.sum((X - np.mean(X))**2)

In [55]:
b = np.mean(Y) - a * np.mean(X)

In [56]:
a,b

(61.92857142857143, -1.7857142857142776)

In [59]:
d = a*10 + b
d

617.5